[submodule "ACL-Tester-Design-MB/IP/vivado-library"]
	path = ACL-Tester-Design-MB/IP/vivado-library
	url = https://github.com/timothystotts/vivado-library.git
	branch = arty-a7-100-vivado-2021.2
[submodule "ACL-Tester-Design-Zynq/IP/vivado-library"]
	path = ACL-Tester-Design-Zynq/IP/vivado-library
	url = https://github.com/timothystotts/vivado-library.git
	branch = zybo-z7-20-vivado-2021.2
